.container {
    max-width: 1000px;
    max-height: 1000px;
}

.row {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.cell {
    background: white;
    border: 1px solid black;
    flex: 1 0 auto;
    aspect-ratio: auto 1 / 1;
}

div.colored {
    background-color: blue;
}